<div class = "main-content">
    <div class = "header-content employee-header">
        <div class = "emp-detail-text">
            <button class ="add-button" (click)="onAddUser()"><img src="../assets/Employeelogo.png"/> AddUser </button>
        </div>
        <div class ="table-main">
            <table id ="table-display" class="table">
            <tr>
                <th>Id</th>
                <th>FullName</th>
                <th>ProfilePic</th>
                <th>Gender</th>
                <th>Department</th>
                <th>StartDate</th>
                <th>Salary</th>
                <th>Notes</th>
            </tr>
                <tr *ngFor="let emp of employee" class="detailoftab">
                    <td>{{emp.id}}</td>
                    <td>{{emp.fullName}}</td>
                     <td>
                      <img [src]="emp.profilePic" alt="">
                    </td>
                    <td>{{emp.gender}}</td>
                    <td>
                      <div class="department-label">
                          {{emp.department}}
                      </div>
                    </td>
                    <td>{{emp.salary}}</td>
                    <td>{{emp.startDate}}</td>
                    <td>{{emp.notes}}</td>
                    <td>
                      <img src="../assets/edit.svg "(click)="updateById(emp.id)" />
                    </td>
                    <td>
                      <img src="../assets/delete.svg" (click)="deleteById(emp.id)" />
                    </td>
</tr>    
            </table>
        </div>
    </div>
</div>
