<div class = "main-content">
    <div class = "header-content employee-header">
        <div class = "emp-detail-text">
            <button class ="add-button" (click)="onAddUser()"><img src="./assests/pluslogo.jpg" /> Add User</button>
        </div>
        <div class ="table-main">
            <table id ="table-display" class="table">
            <tr>
                <th>profile</th>
                <th>firstName</th>
                <th>lastName</th>
                <th>Gender</th>
                <th>Department</th>
                <th>start date</th>
                <th>salary</th>
                <th>notes</th>
</tr>    
            </table>
        </div>
    </div>
</div>
